In [1]:
import pandas as pd
import numpy as np

In [2]:
uni = pd.read_csv('universities.csv')

In [3]:
# Load the university dataset (link below) into a pandas dataframe.
# Using pandas, find both the mean and median size by each university type (as given in the dataframe), 
# ordered by average size in ascending order.
# Make new columns  in the dataframe from existing data for the following attributes:
# City
# State
# ZipCode
# Private or Public
# for-profit or not-for-profit
# primarily associate's (1 for Yes, 0 for No)
#  Using the new columns you've made above (and excluding the original type column),
# find both the mean and median size of each university by State, by Private or Public,
# and by whether the university is primarily associate's or not.
# Use the tools you've learned to compute at **least** one other aggregate from the dataset
# Save the updated dataframe as a csv  (using the pandas to_csv method) and commit your files,
# and push up to github.
# (Note: Make a new git repo on your computer and a new github repo in the cloud for this assignment.
# Save, commit and push often!!!

In [4]:
uni.head(20)

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0
6,Academy of Chinese Culture and Health Sciences,"1601 Clay St, Oakland, California 94612",www.acchs.edu,"4-year, Private not-for-profit",92.0
7,Academy of Oriental Medicine,"2700 W Anderson Ln Ste 204, Austin, Texas 78757",www.aoma.edu,"4-year, Private for-profit",207.0
8,Academy of Vocal Arts,"1920 Spruce St, Philadelphia, Pennsylvania 191...",www.avaopera.org,"4-year, Private not-for-profit",27.0
9,Acupuncture and Integrative Medicine College-B...,"2550 Shattuck Ave, Berkeley, California 94704",www.aimc.edu,"4-year, Private not-for-profit",181.0
10,Acupuncture and Massage College,"10506 N Kendall Drive, Miami, Florida 33176",WWW.AMCOLLEGE.edu,"4-year, primarily associate's, Private for-profit",131.0
11,Adams State College,"208 Edgemont Blvd, Alamosa, Colorado 81102",www.adams.edu,"4-year, Public",2920.0
12,Adelphi University,"South Ave, Garden City, New York 11530-0701",WWW.ADELPHI.EDU,"4-year, Private not-for-profit",8177.0
13,Adler Graduate School,"1550 East 78th Street, Richfield, Minnesota 55423",www.alfredadler.edu,"4-year, Private not-for-profit",274.0
14,Adler School of Professional Psychology,"65 East Wacker Place, Suite 2100, Chicago, Ill...",www.adler.edu,"4-year, Private not-for-profit",639.0
15,Adrian College,"110 S Madison St, Adrian, Michigan 49221-2575",www.adrian.edu,"4-year, Private not-for-profit",1469.0
16,Agnes Scott College,"141 E. College Ave, Decatur, Georgia 30030-3797",www.agnesscott.edu,"4-year, Private not-for-profit",832.0
17,AI Miami International University of Art and D...,"1501 Biscayne Boulevard, Miami, Florida 33132-...",www.aimiu.aii.edu,"4-year, Private for-profit",3429.0
18,AIB College of Business,"2500 Fleur Drive, Des Moines, Iowa 50321-1799",www.aib.edu,"4-year, primarily associate's, Private not-for...",985.0
19,Air Force Institute of Technology-Graduate Sch...,"2950 Hobson Way-Wright Patterson AFB, Dayton, ...",www.afit.edu,"4-year, Public",773.0

In [5]:
uni.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [6]:
uni.describe

<bound method NDFrame.describe of                                                    name  \
0               A T Still University of Health Sciences
1                          Abilene Christian University
2                  Abraham Baldwin Agricultural College
3                                       Academy College
4                  Academy for Five Element Acupuncture
...                                                 ...
2902  Yo San University of Traditional Chinese Medicine
2903                                       York College
2904                          York College Pennsylvania
2905                        Youngstown State University
2906                                 Zion Bible College

                                                address  \
0           800 W Jefferson, Kirksville, Missouri 63501
1               1600 Campus Court, Abilene, Texas 79699
2            2802 Moore Hwy, Tifton, Georgia 31793-2601
3     1101 E. 78th Street, Suite 100, Minneapolis, M...
4            305 SE 2nd Ave, Gainesville, Florida 32601
...                                                 ...
2902  13315 W. Washington Boulevard, Los Angeles, Ca...
2903           1125 E 8th St, York, Nebraska 68467-2699
2904     Country Club Rd, York, Pennsylvania 17403-3651
2905  One University Plaza, Youngstown, Ohio 44555-0001
2906  320 South Main Street, Haverhill, Massachusett...

                     Website  \
0               WWW.ATSU.EDU
1                www.acu.edu
2               www.abac.edu
3     www.academycollege.edu
4      www.acupuncturist.edu
...                      ...
2902           www.yosan.edu
2903           www.york.edu/
2904             www.ycp.edu
2905             www.ysu.edu
2906             www.zbc.edu

                                                   Type     Size
0                        4-year, Private not-for-profit   3480.0
1                        4-year, Private not-for-profit   4669.0
2                 4-year, primarily associate's, Public   3600.0
3     4-year, primarily associate's, Private for-profit    165.0
4                        4-year, Private not-for-profit     51.0
...                                                 ...      ...
2902                     4-year, Private not-for-profit    139.0
2903                     4-year, Private not-for-profit    396.0
2904                     4-year, Private not-for-profit   5627.0
2905                                     4-year, Public  13704.0
2906                     4-year, Private not-for-profit    247.0

[2907 rows x 5 columns]>

In [7]:
conv = pd.to_numeric(uni['Size'], 'coerce')
conv

0        3480.0
1        4669.0
2        3600.0
3         165.0
4          51.0
         ...
2902      139.0
2903      396.0
2904     5627.0
2905    13704.0
2906      247.0
Name: Size, Length: 2907, dtype: float64

In [9]:
uni.describe()

               Size
count    2829.00000
mean     4374.88123
std      9256.38326
min         4.00000
25%       493.00000
50%      1478.00000
75%      4064.00000
max    301323.00000

In [10]:
uni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [11]:
uni[conv.isna()]

,name,address,Website,Type,Size
38,Alliant International University,"One Beach Street, Suite 100, San Francisco, Ca...",www.alliant.edu,"4-year, Private not-for-profit",NaN
39,Alliant International University,"2500 Michelson Dr-Ste 250, Irvine, California ...",www.alliant.edu,"4-year, Private not-for-profit",NaN
40,Alliant International University,"2595 Capital Oaks Drive, Suite 200, Sacramento...",www.alliant.edu,"4-year, Private not-for-profit",NaN
42,Alliant International University,"5130 E Clinton Way, Fresno, California 93727-1360",www.alliant.edu,"4-year, Private not-for-profit",NaN
43,Alliant International University,"1000 S Fremont Ave, Unit 5, Alhambra, Californ...",www.alliant.edu,"4-year, Private not-for-profit",NaN
...,...,...,...,...,...
2753,Washington State University-Spokane,"412 East Spokane Falls Blvd., Spokane, Washing...",www.spokane.wsu.edu/,"4-year, Public",NaN
2754,Washington State University-Tri Cities,"2710 University Drive, Richland, Washington 99...",www.tricity.wsu.edu/,"4-year, Public",NaN
2755,Washington State University-Vancouver,"14204 NE Salmon Creek Avenue, Vancouver, Washi...",www.vancouver.wsu.edu/,"4-year, Public",NaN
2801,Western Seminary-Sacramento,"2924 Becerra Way, Sacramento, California 95821...",www.westernseminary.edu,"4-year, Private not-for-profit",NaN
2802,Western Seminary-San Jose,"16330 Los Gatos Blvd, Suite 100, Los Gatos, Ca...",www.westernseminary.edu,"4-year, Private not-for-profit",NaN

In [12]:
uni.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [13]:
uni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [14]:
uni.describe()

               Size
count    2829.00000
mean     4374.88123
std      9256.38326
min         4.00000
25%       493.00000
50%      1478.00000
75%      4064.00000
max    301323.00000

In [17]:
uni = uni[uni.Size.notna()]
uni

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0

In [18]:
uni.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2829 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2829 non-null   object
 1   address  2829 non-null   object
 2   Website  2746 non-null   object
 3   Type     2829 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 132.6+ KB

In [15]:
uni['Type'].value_counts()

4-year, Private not-for-profit                           1579
4-year, Public                                            618
4-year, Private for-profit                                284
4-year, primarily associate's, Private for-profit         268
4-year, primarily associate's, Private not-for-profit      87
4-year, primarily associate's, Public                      71
Name: Type, dtype: int64

In [21]:
addy = uni['address']

In [38]:
address = addy.str.rsplit(',',2,expand=True)
address

                                   0             1                         2
0                    800 W Jefferson    Kirksville            Missouri 63501
1                  1600 Campus Court       Abilene               Texas 79699
2                     2802 Moore Hwy        Tifton        Georgia 31793-2601
3     1101 E. 78th Street, Suite 100   Minneapolis      Minnesota 55420-1554
4                     305 SE 2nd Ave   Gainesville             Florida 32601
...                              ...           ...                       ...
2902   13315 W. Washington Boulevard   Los Angeles          California 90066
2903                   1125 E 8th St          York       Nebraska 68467-2699
2904                 Country Club Rd          York   Pennsylvania 17403-3651
2905            One University Plaza    Youngstown           Ohio 44555-0001
2906           320 South Main Street     Haverhill       Massachusetts 01835

[2829 rows x 3 columns]

In [40]:
#city is index 1
uni['City'] = address.iloc[:,1]
uni['City']

0         Kirksville
1            Abilene
2             Tifton
3        Minneapolis
4        Gainesville
            ...
2902     Los Angeles
2903            York
2904            York
2905      Youngstown
2906       Haverhill
Name: City, Length: 2829, dtype: object

In [80]:
#State
uni['State'] = address.iloc[:, 2]
state = uni['State']
statey = state.str.rsplit(" ", n=1, expand=True)
uni['State'] = statey.iloc[:,0]
# staten = statey.str.rsplit(" ", n=1)

,name,address,Website,Type,Size,Public_Or_Private,City,State
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,8,Kirksville,Missouri
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,8,Abilene,Texas
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,-1,Tifton,Georgia
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,31,Minneapolis,Minnesota
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,8,Gainesville,Florida
...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,8,Los Angeles,California
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,8,York,Nebraska
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,8,York,Pennsylvania
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,-1,Youngstown,Ohio
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,8,Haverhill,Massachusetts

In [81]:
uni['ZipCode'] = statey.iloc[:,1]
uni

,name,address,Website,Type,Size,Public_Or_Private,City,State,ZipCode
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,8,Kirksville,Missouri,63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,8,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,-1,Tifton,Georgia,31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,31,Minneapolis,Minnesota,55420-1554
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,8,Gainesville,Florida,32601
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,8,Los Angeles,California,90066
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,8,York,Nebraska,68467-2699
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,8,York,Pennsylvania,17403-3651
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,-1,Youngstown,Ohio,44555-0001
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,8,Haverhill,Massachusetts,01835

In [99]:
# pop = uni['Public_Or_Private']
# for num in pop:
#     if num < 0:
#         return 
pop = pop.replace(8, 1)
pop = pop.replace(31, 1)
pop = pop.replace(-1, 0)
uni['Public_Or_Private'] = pop
uni

,name,address,Website,Type,Size,Public_Or_Private,City,State,ZipCode
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,1,Kirksville,Missouri,63501
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,0,Tifton,Georgia,31793-2601
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,1,Minneapolis,Minnesota,55420-1554
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,1,Gainesville,Florida,32601
...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,1,Los Angeles,California,90066
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,1,York,Nebraska,68467-2699
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,1,York,Pennsylvania,17403-3651
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,0,Youngstown,Ohio,44555-0001
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,1,Haverhill,Massachusetts,01835

In [115]:

typo = uni['Type']
typed = typo.str.rsplit(" ", n=1, expand=True)
uni['For-Profit or Not-For-Profit'] = typed.iloc[:, 1]
uni['For-Profit or Not-For-Profit'] = uni['For-Profit or Not-For-Profit'].replace('Public', 'not-for-profit')
uni
# for-profit or not-for-profit

,name,address,Website,Type,Size,Public_Or_Private,City,State,ZipCode,For-Profit or Not-For-Profit
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,1,Kirksville,Missouri,63501,not-for-profit
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1,Abilene,Texas,79699,not-for-profit
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,0,Tifton,Georgia,31793-2601,not-for-profit
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,1,Minneapolis,Minnesota,55420-1554,for-profit
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,1,Gainesville,Florida,32601,not-for-profit
...,...,...,...,...,...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,1,Los Angeles,California,90066,not-for-profit
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,1,York,Nebraska,68467-2699,not-for-profit
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,1,York,Pennsylvania,17403-3651,not-for-profit
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,0,Youngstown,Ohio,44555-0001,not-for-profit
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,1,Haverhill,Massachusetts,01835,not-for-profit

In [30]:
# sub = 'Private'
# uni['Public_Or_Private'] = uni['Type'].str.find(sub)
# uni['Public_Or_Private']

0        8
1        8
2       -1
3       31
4        8
        ..
2902     8
2903     8
2904     8
2905    -1
2906     8
Name: Public_Or_Private, Length: 2829, dtype: int64

In [ ]:
# uni['Private_or_Public'] = 
# uni['Type'] = type.find('Private')
# uni['Public_or_Private'] = uni[uni['Type'].str.find('Private')]

# sub = 'Private'
# uni['Public_Or_Private'] = uni['Type'].str.find(sub)
# uni['Public_Or_Private']
# uni.columns

In [ ]:
# for i in uni['Public_Or_Private']:
#     if i == -1:
#         i == 0
#     else: i == 1

In [ ]:
# # pub_uni = uni[uni['Type'].str.match('4-year, Public')]
# # pruni_nfp = uni[uni['Type'].str.match('4-year, Private not-for-profit')]
# # pruni_fp = uni[uni['Type'].str.match('4-year, Private for-profit')]
# a =pd.DataFrame({'Fruit_price': fruit_prices, 'Inv': inventory})

In [ ]:
# address = address.str.rsplit(',',2,expand=True)